html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #ebebeb;
    
    background-image: url(pictures/grey-cracked-paint-surface-seamless-tileable-texture-29898693.png);
    
    
    
}
#header{
    display: inline-block;
    border-bottom: solid rgb(62, 110, 177) 4px;
    width: auto;
    
    padding-bottom: 4px;
    
    margin-left: 140px;
}

@keyframes buttonHover {
    0% {background-color: rgb(86, 92, 69);}
    100% {background-color: rgb(230, 89, 69);}
}

@keyframes buttonSelect {
    0% {background-color: rgb(230, 89, 69);}
    10% {background-color: rgb(86, 92, 69);}
    100% {background-color: rgb(90, 195, 43);}
}

@keyframes changeScreen {
    0% {opacity: 0.0;}
    
    100% {opacity: 1.0;}
}


.dot{
    margin-bottom: 20px;
    height: 40px;
    width: 40px;
    background-color: rgb(86, 92, 69);
    box-shadow: inset 0 0 15px 2px #000000;
    border-radius: 50%;
    display: inline-block;
    border: outset 2px black;
}

.dot:hover{
    margin-bottom: 20px;
    height: 40px;
    width: 40px;
    background-color: rgb(230, 89, 69);
    box-shadow: inset 0 0 15px 2px #000000;
    border-radius: 50%;
    display: inline-block;
    border: solid 2px black;
    
    
    animation-name: buttonHover;
    animation-duration: .5s;
}

.dotActive{
    margin-bottom: 20px;
    height: 40px;
    width: 40px;
    background-color: rgb(90, 195, 43);
    box-shadow: inset 0 0 15px 2px #000000;
    border-radius: 50%;
    display: inline-block;
    border: solid 2px black;
    
    
    animation-name: buttonSelect;
    animation-duration: .5s;
}




nav{
    position: fixed;
    top: 0;
    margin: 0px;
    padding: 0px;
    margin-right: 20px;
    float: left;
    width: 100px;
    height: 100vh; 

    background-color: rgb(230, 89, 69);
    
    outline: 20px double rgb(62, 110, 177);
    
}

nav ul{
    margin: 0;
    padding: 8px;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
}



a{
    
    text-decoration: none;
    
}

nav ul li{
    
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    
    font-size: 20px;
    font-weight: 800;
    
    text-decoration: none;

    color: rgb(37, 69, 114);
}

.content{
    padding-right: 20px;
    padding-top: 20px;
    padding-left: 120px;
    
    animation-name: changeScreen;
    animation-duration: .5s;
    
    
    
}

.gallery{
    padding-left: 120px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
    
    animation-name: changeScreen;
    animation-duration: .5s;
}

p{
    padding: 20px;
    margin: 0px;
    letter-spacing: 5px;
    
    font-weight: 800;
    font-size: 40px;
    text-shadow: 1px 1px 1px black;
}

.code{
    display: inline-block;
    font-family: monospace;
    font-size: 30px;
    letter-spacing: 2px;
    
}

#red{
    color: rgb(230, 89, 69);
}

.fillImg{
    display: block;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 50%;
    box-shadow: 0px 0px 10px black;
}

.logos{
    visibility: hidden;
}

figure{
    width: 300px;
    height: 450px;
    box-shadow: 2px 2px 8px black;
    position: relative;
    
    
    background-color: deeppink;
    
}

#gallery1{
    background-image: url(galleryPhotos/thumbnail1.png);
    
}

#gallery2{
    background-image: url(galleryPhotos/thumbnail2.png);
    background-size: cover;
}

#gallery2{
    background-image: url(galleryPhotos/thumbnail2.png);
    background-size: cover;
}

#gallery3{
    background-image: url(galleryPhotos/thumbnail3.png);
    background-size: cover;
    background-position: center;
}

#gallery4{
   background-image: url(galleryPhotos/thumbnail4.png);
    background-size: cover;
    background-position: center; 
}

figCaption{
    position: absolute;
    bottom: 0;
    right: 0;
    color: black;
    padding: 4px;
    color: rgb(230, 89, 69);
    font-weight: 800;
    
    letter-spacing: 2px;
    font-size: 40px;
    text-align: right;
    background-color: whitesmoke;
    
}

@keyframes submit {
    from {background-color: rgb(113, 113, 113);}
    to {background-color: rgb(230, 89, 69);}
}


input[type=text], select, textarea{
    display: block;
    width: 70%;
    
    padding: 12px;
    border:  1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
    margin-left: auto;
    margin-right: auto;

    
    resize: vertical;
    box-shadow: 2px 2px 8px black;
    background-color: whitesmoke
}

input[type=submit]{
    display: block;
    background-color: rgb(113, 113, 113);
    
    font-size: 20px;
    font-weight: 800;
    color: whitesmoke;
    border:  1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100px;
    height: 40px;
    
    margin-right: auto;
    margin-left: auto;
    
    
}

input[type=submit]:hover{
    background-color: rgb(230, 89, 69);
    
    font-size: 20px;
    font-weight: 800;
    color: whitesmoke;
    
    border-radius: 4px;
    box-sizing: border-box;
    width: 100px;
    height: 40px;
    float: right;
    box-shadow: 2px 2px 8px black;
    
    animation-name: submit;
    animation-duration: .5s;
    float: right;
    margin-right: 20%;
    
}

#atts{
    display: inline-block;
    
    float: left;
}

#blue{
    display: inline-block;
    color: rgb(62, 110, 177);
    
    float: left;
}




/*wip*/
@media screen and (max-width:1080px){ 
    html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    
}
    
.gallery{
/*    z-index: -1;*/
    padding-left: 0;
    float: left;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
    
    
    
    
}
    
   
    nav{

    z-index: 5;

    
    width: 100vw;
    height: 170px; 
    background-color: rgb(230, 89, 69);
    outline: none;
    
    
        
    }

nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    
    flex-direction: column;
    width: 100vw;
    height: 170px; 

}

    
nav ul li{
    margin: 0px;
    padding: 0px;
    color: white;
    
    
    
     
    
    list-style-type: none;
    font-size: 40px;
    font-weight: 800;
    height: 40px;
    width: 100vw;
    
    
    
    
}
    
#header{
    display: inline-block;
    border-bottom: solid rgb(62, 110, 177) 4px;
    width: auto;
    
    padding-bottom: 4px;
    
    margin-left: 20px;
    margin-top: 180px;
}

    .dot{
        display: none;
    }
    .dot:hover{
        display: none;
    }
    .dotActive{
        display: none;
    }
.content{
    float: left;
    
    width: 98%;
    
    margin: 0px;
    padding: 0px;
    
    
}
p{
    
    float: left;
        font-size: 40px;
        letter-spacing: 2px;
        text-shadow: 1px 1px 1px black;
}
    

}


